nav {
    background-color: #f0f0f0;
}

#gymContainer {
    margin-top: 30px;
    margin-bottom: 30px;
}

#gymHeader {
    background-image: url("../images/gymHeaderBG.jpg");
    opacity: 0.7;
    background-size: cover;
    color: white;
}

#reviews {
    padding-left: 0px;
    list-style-type: none;
}

#reviews li{
    border-bottom: solid 1px #e6e6e6;
    height: 170px;
    padding: 10px;
    display: flex;
    align-items: center; 
}

#reviews img{
    width: 100px;
    height: 100px;
    object-fit: cover;
    border-radius: 50%;
    display: inline-block;
}

.details {
    margin-left: 20px;
    display: inline-block;
}

.details p {
    font-size: 12px;
}

h2{
    border-top: solid 1px #e6e6e6;
    padding-top: 10px;
    text-align: center;
}